<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715425522565-7tckn5q9la8ea49q8uuv8jpehlqmbolk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715425522565-7tckn5q9la8ea49q8uuv8jpehlqmbolk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715425522565-gfe0n3l22rcphp1upkcsub5lh4ijhbth.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_yR1vIuOl8w9SqX_3sOnMdBUejQk_WNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>715425522565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Citron.ShemushiApp</string>
	<key>PROJECT_ID</key>
	<string>my-apptab</string>
	<key>STORAGE_BUCKET</key>
	<string>my-apptab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715425522565:ios:da206087bc79e72a93daec</string>
	<key>DATABASE_URL</key>
	<string>https://my-apptab.firebaseio.com</string>
</dict>
</plist>